# Servidor Express
PORT=3000

# Base de Datos - Lectura (Pool Read-Only para Consultas e Informes)
DB_HOST=localhost
DB_PORT=3306
# NOTA: En MySQL 5.5 el nombre de usuario tiene un límite máximo de 16 caracteres.
DB_READ_USER=reci_read
DB_READ_PASSWORD=

# Base de Datos - Escritura (Pool Write para CRUD de Proveedores)
DB_WRITE_USER=reci_write
DB_WRITE_PASSWORD=

# ID de la Empresa
DB_EMPID=000000000000001
